@font-face {
    font-family: casio;
    src: url("../fonts/casio.ttf");
}

@font-face {
    font-family: calculatorfont;
    src: url("../fonts/ds-digi.ttf");
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    background-image: url("../images/geometry.jpg");
    background-size: cover;
}

.header {

    font-family: calculatorfont;
    text-align: center;
    font-size: 36px;
    background-color: rgb(54, 54, 107);
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(10, 26, 108, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: rgb(214, 214, 200);
    padding: 15px;
    padding-bottom: 5vh;
}

.calculator-body {
    border: 4px solid black;
    width: 400px;
    height: 600px;
    padding: 2px;

    background: rgb(127, 126, 128);
    background: linear-gradient(0deg, rgba(127, 126, 128, 1) 0%, rgba(230, 230, 232, 1) 80%, rgba(230, 230, 232, 1) 100%);

    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.calc-header {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;


}

.calculator-leftheader {
    border: 1px dotted black;
    font-family: casio;
    letter-spacing: .1rem;
    text-align: left;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 26px;

}

.calculator-rightheader {

    background-color: #321602;
    border: 3px solid #666a6d;
    border-radius: 5%;
    width: 100px;
    height: 40px;
    padding-right: 50px;
    margin-right: 50px;

}

.calculator-display {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    border: 10px solid #5c6066;
    border-radius: 5%;
    background-color: #d5e2e2;
    height: 80px;
    font-family: calculatorfont;
    font-size: 56px;
    font-weight: bold;
    padding-right: 5px;
    margin-bottom: 20px;

}

.calculator-keyboard {

    height: 400px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    flex: auto;
    justify-content: space-around;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.button {
    border: 4px solid #131416;
    background-color: #383a40;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    color: #d1d2d9;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;

}
.button:hover {
    background-color: #acb3c2;
}

.btn-ac,
.btn-c {
    background-color: #955267
}
    